
body {
    background-color: lightblue;
	font-family: Georgia, serif;
	text-align: left;
	height: 100%;
	margin: 0;
	width: 100%;
}

h1 {
    color: Chocolate;
    margin-left: 20px;
    text-align: center;
}
